// -----------------------------------------------------------------------------
//   RefreshLess page transition component partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/z-index';

.refreshless-page-transition-overlay {

  display:  block;

  position: fixed;

  opacity: 0;

  pointer-events: none;

  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.5s;

  top:  0;
  left: 0;

  width:  100vw;
  height: 100vh;

  // Use dynamic viewport units when available.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/length#dynamic
  @supports (width: 100dvw) {

    width:  100dvw;
    height: 100dvh;

  }

  // @todo This is ugly and should be fixed as part of a z-index manager
  //   refactor.
  z-index: z-index.get(modal) + 5;

  background-color: var(--background-colour);

  &--active {

    opacity: 1;

    pointer-events: auto;

    transition-duration: 0.2s;

  }

}
