// -----------------------------------------------------------------------------
//   Heading element partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/colour';
@use 'sass/helpers/selector';
@use '../variables/colours';
@use '../variables/general' as general-variables;

.page-title,
.layout-content h3 {
  // Add a divider under the page title to match Wikipedia.
  border-bottom:
    general-variables.$divider-thickness solid colours.$divider-on-light;

  @include colour.on-dark-scheme {
    border-bottom-color: colours.$divider-on-dark;
  }

  // This crops the border to the area that the heading text can actually flow
  // in, minus any floated items to the side such as infoboxes. Without this,
  // the border would extend all the way into and under floated items.
  overflow: hidden;
}

.heading-permalink {
  display: inline-block;

  position: relative;

  // Vertical alignment adjustment.
  top: 0.2em;

  // Space between the heading text and the permalink.
  @include selector.root-conditions(('[dir=ltr]'), 'html') {
    left: 0.3em;
  }
  @include selector.root-conditions(('[dir=rtl]'), 'html') {
    right: 0.3em;
  }

  // Set this to rems to bypass the variable font size of the heading that this
  // is a child of.
  font-size: 1rem;
}
