// -----------------------------------------------------------------------------
//   Table stylesheet
// -----------------------------------------------------------------------------

@use '../components/card';
@use 'sass/helpers/colour';
@use '../variables/colours';

:root {
  --table-cell-border-width:  #{card.$border-width};
  --table-cell-border-colour: #{card.$border-colour-on-light};

  @include colour.on-dark-scheme {
    --table-cell-border-colour: #{card.$border-colour-on-dark};
  }
}

table {
  // Centres tables horizontally.
  margin-left:  auto;
  margin-right: auto;

  border:
    var(--table-cell-border-width)
    var(--table-cell-border-style)
    var(--table-cell-border-colour);

  background-color: transparent !important;
}

thead {
  @include colour.set(
    $background: colours.$secondary-content-background-light
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: colours.$secondary-content-background-dark
    );
  }
}
