// -----------------------------------------------------------------------------
//   Omnipedia card element partial
// -----------------------------------------------------------------------------

@use 'material.common/material.general' as material-general;
@use 'sass/helpers/colour';
@use 'sass:math';
@use '../variables/colours';
@use '../variables/general' as general-variables;

///
/// Omnipedia card border colour on light backgrounds.
///
/// @require {variable} colours.$divider-on-light
///
$border-colour-on-light: colours.$divider-on-light !default;

///
/// Omnipedia card border colour on dark backgrounds.
///
/// @require {variable} colours.$divider-on-dark
///
$border-colour-on-dark: colours.$divider-on-dark !default;

///
/// Omnipedia card border width.
///
/// @require {variable} general-variables.$divider-thickness
///
$border-width: general-variables.$divider-thickness !default;

///
/// Omnipedia card border radius.
///
/// @require {variable} material-general.$border-radius
///
$border-radius: material-general.$border-radius !default;

///
/// Omnipedia card default padding.
///
$padding: 0.5em !default;

///
/// Omnipedia card base styles.
///
/// @param {Number} $padding [$padding]
///   The padding to apply to the card element.
///
/// @require {variable} $padding
/// @require {variable} $border-width
/// @require {variable} $border-colour-on-light
/// @require {variable} $border-colour-on-dark
/// @require {variable} $border-radius
///
@mixin base($padding: $padding) {
  padding: $padding;

  border-width:   $border-width;
  border-style:   solid;
  border-color:   $border-colour-on-light;
  border-radius:  $border-radius;

  @include colour.on-dark-scheme {
    border-color: $border-colour-on-dark;
  }
}

///
/// Omnipedia card caption styles.
///
/// @require {variable} $padding
///
@mixin caption {
  margin-top:     0 !important;
  margin-bottom: -0.3em;

  padding-top: math.div($padding, 2);

  font-size: 92%;
}
