// -----------------------------------------------------------------------------
//   Site header - Clipping
// -----------------------------------------------------------------------------

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/forms/search';
@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/layout' as layout-base;
@use 'sass/helpers/selector';
@use '../variables/general' as general-variables;

.region-primary-menu {
  @include layout-base.on-sidebar-beside-content(both) {
    ///
    /// Amount of extra vertical space below to prevent clipping the shadow.
    ///
    $shadow-buffer: 10px;

    // These are applied to the region container rather than to the generated
    // content because doing the latter causes some rounding errors in
    // Chromium and the shadow leaks a bit on the sides.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      clip-path: polygon(
        0 -#{layout-base.$gap},

        calc(100% + #{search.$button-spacing} - #{general-variables.$divider-thickness})
          -#{layout-base.$gap},

        calc(100% + #{search.$button-spacing} - #{general-variables.$divider-thickness})
          calc(100% + #{layout-base.$gap} - #{general-variables.$divider-thickness}),

        calc(100% - #{general-variables.$divider-thickness})
          calc(100% + #{layout-base.$gap} - #{general-variables.$divider-thickness}),

        calc(100% - #{general-variables.$divider-thickness})
          calc(100% + #{layout-base.$gap} + #{$shadow-buffer}),

        0 calc(100% + #{layout-base.$gap} + #{$shadow-buffer})
      );
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      clip-path: polygon(
        -#{search.$button-spacing} -#{layout-base.$gap},

        calc(100% + #{general-variables.$divider-thickness}) -#{layout-base.$gap},

        calc(100% + #{general-variables.$divider-thickness})
          calc(100% + #{layout-base.$gap} + #{$shadow-buffer}),

        #{general-variables.$divider-thickness}
          calc(100% + #{layout-base.$gap} + #{$shadow-buffer}),

        #{general-variables.$divider-thickness}
          calc(100% + #{layout-base.$gap} - #{general-variables.$divider-thickness}),

        -#{search.$button-spacing}
          calc(100% + #{layout-base.$gap} - #{general-variables.$divider-thickness})
      );
    }
  }
}
