// -----------------------------------------------------------------------------
//   Site header - Overlay
// -----------------------------------------------------------------------------

// This provides the overlay for the header in compact mode.
//
// @see ../components/_overlay.scss
//   Shared overlay styles.

main[role="main"]::before {
  content: '';

  @include on-sidebar-beside-content(any) {
    content: none;

    will-change: none;
  }

  position: fixed;

  top:    0;
  bottom: 0;
  left:   0;
  right:  0;

  opacity: 0;

  .search-target:target ~ &,
  .search-target--form-has-focus ~ & {
    opacity: 1;

    pointer-events: auto;
  }

  transition-property:        opacity, pointer-events;
  transition-duration:        200ms;
  // Opacity transitions look more natural with linear easing.
  transition-timing-function: linear;

  pointer-events: none;

  will-change: opacity;
}
