// -----------------------------------------------------------------------------
//   Site header - Clipping
// -----------------------------------------------------------------------------

.region-primary-menu {
  @include on-sidebar-beside-content(both) {
    ///
    /// Amount of extra vertical space below to prevent clipping the shadow.
    ///
    $shadow-buffer: 10px;

    // These are applied to the region container rather than to the generated
    // content because doing the latter causes some rounding errors in
    // Chromium and the shadow leaks a bit on the sides.
    @include root-conditions(('[dir=ltr]'), 'html') {
      clip-path: polygon(
        0 -#{$layout-gap},

        calc(100% + #{$search-button-spacing} - #{$divider-thickness})
          -#{$layout-gap},

        calc(100% + #{$search-button-spacing} - #{$divider-thickness})
          calc(100% + #{$layout-gap} - #{$divider-thickness}),

        calc(100% - #{$divider-thickness})
          calc(100% + #{$layout-gap} - #{$divider-thickness}),

        calc(100% - #{$divider-thickness})
          calc(100% + #{$layout-gap} + #{$shadow-buffer}),

        0 calc(100% + #{$layout-gap} + #{$shadow-buffer})
      );
    }
    @include root-conditions(('[dir=rtl]'), 'html') {
      clip-path: polygon(
        -#{$search-button-spacing} -#{$layout-gap},

        calc(100% + #{$divider-thickness}) -#{$layout-gap},

        calc(100% + #{$divider-thickness})
          calc(100% + #{$layout-gap} + #{$shadow-buffer}),

        #{$divider-thickness}
          calc(100% + #{$layout-gap} + #{$shadow-buffer}),

        #{$divider-thickness}
          calc(100% + #{$layout-gap} - #{$divider-thickness}),

        -#{$search-button-spacing}
          calc(100% + #{$layout-gap} - #{$divider-thickness})
      );
    }
  }
}
