// -----------------------------------------------------------------------------
//   Headings partial
// -----------------------------------------------------------------------------

.page-title,
.layout-content h3 {
  // Add a divider under the page title to match Wikipedia.
  border-bottom: $divider-thickness solid $divider-colour-on-light;

  @include on-dark-colour-scheme {
    border-bottom-color: $divider-colour-on-dark;
  }
}

.layout-content {
  // Headings in the content always denote a new section, so they have to clear
  // any preceding floated elements, such as media or infoboxes.
  @include headings {
    clear: both;
  }
}
