// -----------------------------------------------------------------------------
//   Site layout
// -----------------------------------------------------------------------------

@include media('<layout-with-both-sidebars') {
  .layout-container {
    margin-top: $layout-gutter;
  }
}

///
/// The Omnipedia grid definition.
///
@mixin omnipedia-layout-grid {
  grid-template-areas:
    'branding       menu-primary  ....'
    'branding       main-content  sidebar-second'
    'sidebar-first  main-content  sidebar-second'
    '....           footer        ....';
  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
}

// If subgrid is supported, use it to lay out the site layout, allowing the grid
// to be inherited into the main content area.
//
// @todo Add support for other regions, such as highlighted and help. These are
// currently not accounted for due to the difficulty of correctly placing all
// regions while also maintaining the branding and sidebar locations.
//
// @link https://gridbyexample.com/examples/
// @link https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid
@supports (grid-template-columns: subgrid) {
  @include use-grid {
    @include on-sidebar-beside-content(both) {
      .layout-container {
        @include omnipedia-layout-grid;
      }

      .region-primary-menu {
        grid-area: menu-primary;
      }

      header[role='banner'] {
        grid-area: branding;
      }

      main[role='main'] {
        grid-template-rows: subgrid;
        grid-row-start: main-content;
        grid-row-end:   main-content;
      }

      footer[role='contentinfo'] {
        grid-area: footer;
      }

      // Not working stuff follows:

      // .layout-container {
      //   grid-template-areas:
      //     '....           menu-primary  ....'
      //     'branding       main-content  sidebar-second'
      //     'branding       main-content  sidebar-second'
      //     'branding       main-content  sidebar-second'
      //     'sidebar-first  main-content  sidebar-second'
      //     'footer         footer        footer';
      //   grid-template-rows: repeat(6, min-content);
      // }

      // header[role='banner'] {
      //   grid-area: branding;
      // }

      // .region-highlighted {
      //   grid-column-start:  main-content;
      //   grid-column-end:    main-content;
      //   grid-row-start:     main-content;
      // }

      // main[role='main'] {
      //   grid-template-rows: subgrid;
      //   grid-row-start:     main-content;
      //   grid-row-end:       main-content;

      //   .layout-content {
      //     grid-column-start:  main-content;
      //     grid-column-end:    main-content;
      //     grid-row-end:       main-content;
      //   }
      // }

      // /Not working ends.
    }
  }
}

// If subgrid is not supported, this approximates the subgrid layout by nesting
// two grids, one on .layout-container, and the pre-existing one on
// main[role='main'].
@supports not (grid-template-columns: subgrid) {
  .layout-container {
    // These have to be placed outside of the @include use-grid because they
    // also use the mixin and double nesting would cause two nested
    // body.use-grid selectors which would never match.
    @include layout-grid;
    @include layout-max-width;
  }

  header[role='banner'] {
    grid-area: branding;
  }

  .region-primary-menu {
    grid-area: menu-primary;
  }

  // This must span the full width of the parent's grid and the full rows of the
  // main-content column.
  main[role='main'] {
    grid-column-start:  sidebar-first;
    grid-column-end:    sidebar-second;
    grid-row-start:     main-content;
    grid-row-end:       main-content;
  }

  footer[role='contentinfo'] {
    grid-area: footer;
  }

  @include use-grid {
    .layout-container {
      @include on-sidebar-beside-content(both) {
        @include omnipedia-layout-grid;
      }

      margin-left:  auto;
      margin-right: auto;

      > * {
        // Remove these added in ambientimpact_base' global/_layout.scss so that
        // they don't squish the columns.
        margin-left:  0;
        margin-right: 0;
      }
    }

    .layout-sidebar-first {
      &::before {
        content: '';
        display: block;

        // This creates an intrinsic ratio with the heights of the site logo,
        // name, and slogan, all divided by the width of the column.
        padding-top: (128 + 20 + 13) / 128 * 100%;

        // Don't forget the spacing between elements!
        margin-bottom: $branding-spacing * 2 + $layout-gap;
      }
    }
  }
}
