// -----------------------------------------------------------------------------
//   Site layout - Content
// -----------------------------------------------------------------------------

@use 'base:global/layout' as layout-base;
@use 'sass/helpers/breakpoint';

.layout-content {
  // On narrow screens the horizontal padding matches the layout gutter.
  padding: layout-base.$gap layout-base.$gutter;

  @include breakpoint.on('<layout-with-both-sidebars') {
    // Cancel out the default horizontal padding set in the
    // layout-container-base-horizontal mixin, as this conflicts with the
    // background and borders we set around the content area.
    //
    // @see {mixin} layout-container-base-horizontal
    margin-left:  layout-base.$gutter * -1;
    margin-right: layout-base.$gutter * -1;
  }

  @include layout-base.on-sidebar-beside-content(any) {
    // On wider screens the horizontal padding matches the vertical padding.
    padding-left:   layout-base.$gap;
    padding-right:  layout-base.$gap;
  }

  .region + .region {
    margin-top: layout-base.$gap;
  }
}

.region-content {
  // Add space between blocks using the layout-base.$gap variable.
  .block + .block,
  [data-drupal-messages] + .block {
    margin-top: layout-base.$gap;
  }
}
