// -----------------------------------------------------------------------------
//   Links partial
// -----------------------------------------------------------------------------

:any-link,
a[data-is-wikimedia-link][data-omnipedia-attached-data-title][data-omnipedia-attached-data-content]:not([href]) {
  text-decoration-thickness:  $text-decoration-thickness;
  text-underline-offset:      $text-decoration-offset;

  &.omnipedia-changes__diff-link {
    @include on-dark-colour-scheme {
      @include link-colours(
        $background-colour-dark,

        $normal-on-dark: $foreground-colour-on-dark,
        $hover-on-dark:  $foreground-colour-on-dark,

        $underline-normal-on-dark: rgba($foreground-colour-on-dark, 0.6),
        $underline-hover-on-dark:  $foreground-colour-on-dark,
      );
    }
  }

  // .omnipedia-changes__diff {
  //   @include on-dark-colour-scheme {
  //     text-decoration-color: rgba($foreground-colour-on-dark, 0.6);
  //   }
  // }

  // @include link-hover {
  //   .omnipedia-changes__diff {
  //     @include on-dark-colour-scheme {
  //       text-decoration-color: $foreground-colour-on-dark;
  //     }
  //   }
  // }

  // @include link-active {
  //   .omnipedia-changes__diff {
  //     @include on-dark-colour-scheme {
  //       @include on-dark-colour-scheme {
  //         text-decoration-color: rgba($foreground-colour-on-dark, 0.6);
  //       }
  //     }
  //   }
  // }
}

// This styles Wikimedia <a> elements without an href attribute that have
// attached data to appear as links, albeit with a dashed underline.
a[data-is-wikimedia-link][data-omnipedia-attached-data-title][data-omnipedia-attached-data-content]:not([href]) {
  @include link;

  @include on-dark-colour-scheme {
    @include link-colours($background-colour-dark);
  }

  cursor: pointer;

  text-decoration-line:   underline;
  text-decoration-style:  dashed;

  @if $use-fancy-link-underlines == true {
    @include fancy-link-underlines($underline-style: dashed);

    // Links inside the PhotoSwipe caption need special handling as fancy
    // underlines are currently disabled for them. See
    // ../../../../ambientimpact/ambientimpact_base/stylesheets/elements/_link.scss
    .#{$photoswipe-root-class}__caption__center & {
      text-decoration: dashed underline !important;
    }
  }
}
