// -----------------------------------------------------------------------------
//   Site branding
// -----------------------------------------------------------------------------

@use 'sass/helpers/breakpoint';
@use 'sass/helpers/colour';
@use 'sass/helpers/layout';
@use '../layout/config' as layout-config;

@include colour.on-dark-scheme {
  // Invert the slogan image on dark theme since it's black text.
  .site-slogan {
    filter: invert(100%);
  }
}

@include layout.use-grid {
  .block-system-branding-block {
    display: grid;

    grid-template-areas:  'logo name'
                          'logo slogan';
    grid-template-columns:
      minmax(
        layout-config.$branding-compact-size-min,
        layout-config.$branding-compact-size-max
      )
      minmax(7em, 1fr);
    grid-gap: layout-config.$branding-spacing;

    // This is to prevent any potential layout shifting during page load.
    height: layout-config.$branding-compact-size-max;

    // When sidebars are beside the content column, display as block. This will
    // invalidate all grid-*/align-*/justify-* properties, allowing the branding
    // to be stacked vertically and saving us a lot of work.
    @include breakpoint.on('>=layout-with-both-sidebars') {
      display: block;

      height: auto;
    }
  }

  .site-logo {
    grid-area: logo;

    &, &__link {
      // This centers the logo vertically in cases of a really narrow viewport,
      // which would cause the 'logo' grid area to shrink horizontally and thus
      // shrink the logo to a point where it doesn't occupy the full height of
      // the grid area.
      display:        grid;
      align-content:  center;
    }
  }

  .site-name {
    grid-area: name;

    // This aligns the site name to the bottom of the row so that both the site
    // name and slogan are hugging the vertical centre of the overall grid.
    display:        grid;
    align-content:  end;
    // Shrinks the link to just the width of the image so there's no phantom
    // clickable area.
    justify-content: start;
  }

  .site-slogan {
    grid-area: slogan;
  }

  .site-name__link, .site-slogan {
    img {
      // This prevents extra vertical spacing below the <img> elements due to
      // inline layout.
      display: block;
    }
  }

  @include breakpoint.on('>=layout-with-both-sidebars') {
    // Add margins between the logo, name, and slogan when stacked vertically.
    .site-name,
    .site-slogan {
      margin-top: layout-config.$branding-spacing;
    }

    // Ensure that the site logo and name images expand to the full width of
    // sidebar. They're also displayed as block rather than the default inline
    // to remove any vertical space due to the inline model.
    .site-logo,
    .site-name {
      img {
        display:  block;
        width:    100%;
      }
    }

    // The slogan is left to its default width, but is centred if the sidebar is
    // wider than the slogan.
    .site-slogan img {
      display:      block;
      margin-left:  auto;
      margin-right: auto;
    }
  }
}
