// -----------------------------------------------------------------------------
//   Site content area
// -----------------------------------------------------------------------------

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/layout' as layout-base;
@use 'material.common/material.general' as material-general;
@use 'sass/helpers/colour';
@use '../variables/colours';
@use '../variables/general' as general-variables;

// This creates the box that the main site content lives in. On narrow screens
// where the sidebars are not placed beside the content column, the content
// column is flush with the horizontal edges of the viewport and only has a
// bottom border. On wider screens where the sidebars are placed beside the
// content column, the content column has borders on all four sides.
//
// @see ./_layout.content.scss
//   Sets padding for this element.
.layout-content {

  // Only apply bottom border on narrow screens.
  border-width: 0 0 general-variables.$divider-thickness 0;
  border-style: solid;
  border-color: colours.$divider-on-light;

  @include colour.set($background: colours.$primary-content-background-light);

  @include colour.on-dark-scheme {
    border-color: colours.$divider-on-dark;

    @include colour.set($background: colours.$primary-content-background-dark);
  }

  @include layout-base.on-sidebar-beside-content(any) {
    border-top-width: general-variables.$divider-thickness;

    // Add horizontal borders.
    border-left-width:  general-variables.$divider-thickness;
    border-right-width: general-variables.$divider-thickness;

    border-radius: material-general.$border-radius;
  }
}
