// -----------------------------------------------------------------------------
//   Site branding
// -----------------------------------------------------------------------------

@include on-dark-colour-scheme {
  // Invert the slogan image on dark theme since it's black text.
  .site-slogan .intrinsic-ratio {
    filter: invert(100%);
  }
}

@include use-grid {
  .block-system-branding-block {
    display: grid;

    grid-template-areas:    'logo name'
                            'logo slogan';
    grid-template-columns:  minmax(2em, 3em) minmax(9em, 1fr);
    grid-gap:               $branding-spacing;

    // When sidebars are beside the content column, display as block. This will
    // invalidate all grid-*/align-*/justify-* properties, allowing the branding
    // to be stacked vertically and saving us a lot of work.
    @include media('>=layout-with-both-sidebars') {
      display: block;
    }
  }

  .site-logo {
    grid-area: logo;

    // This centers the logo verticall in cases of a really narrow viewport,
    // which would cause the 'logo' grid area to shrink horizontally and thus
    // shrink the logo to a point where it doesn't occupy the full height of the
    // grid area.
    display:        grid;
    align-content:  center;
  }

  .site-name {
    grid-area: name;

    // This aligns the site name to the bottom of the row so that both the site
    // name and slogan are hugging the vertical centre of the overall grid, to
    // align them in a visually pleasing way with the logo.
    display:        grid;
    align-content:  end;
  }

  .site-slogan {
    grid-area: slogan;
  }

  @include media('>=layout-with-both-sidebars') {
    // Add margins between the logo, name, and slogan when stacked vertically.
    .site-name,
    .site-slogan {
      margin-top: $branding-spacing;
    }

    // Disable the intrinsic ratio max-width on the branding elements so that
    // they can roam free (expand to full width of sidebar).
    .site-logo a,
    .site-name a,
    .site-slogan {
      @include disable-intrinsic-ratio-max-width;
    }
  }
}
