// -----------------------------------------------------------------------------
//   Typography partial
// -----------------------------------------------------------------------------

body {
  @include on-sidebar-beside-content(any) {
    font-size: $font-size-big-screen;
  }

  hyphens: auto;
}

body,
.content-popup {
  // This more or less matches both the mobile and traditional versions of
  // Wikipedia. This is the default.
  line-height: 1.7;
}

.page-title {
  // This negative margin roughly accounts for the line-height of the first
  // (top) line so that it appears to have the same spacing on the left, right,
  // and top with respect to the content box.
  margin-top:     -0.4em;
  margin-bottom:  0.6em;
}

h3 {
  // Better match Wikipedia.
  margin-top:     1em;
  margin-bottom:  0.25em;
}

h4, h5, h6 {
  // Better match Wikipedia.
  margin-top:     0.7em;
  margin-bottom:  0.2em;

  // Match Wikipedia's typography for these headings.
  font-family: $font-stack;
  font-weight: $font-weight-strong;
}

h5 {
  font-style: italic;
}

blockquote {
  // This helps the quote stand out from the surrounding text.
  font-style: italic;
}

.block h2 {
  font-size: 130%;
}

.references__list {
  font-size:  90%;
}

// This reduces the base theme's space before paragraphs to better match
// Wikipedia.
@include vertical-spacing-against-previous(
  'p',
  $spacing-small: $general-spacing * 0.8,
  $spacing-large: $general-spacing * 0.8
);
