// -----------------------------------------------------------------------------
//   Typography partial
// -----------------------------------------------------------------------------

@use '../variables/layout' as layout-variables; // Configure layout.
@use 'base:layout/sidebars' as layout-sidebars;
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use 'base:global/typography';
@use '../variables/typography' as typography-variables;

body {
  @include layout-sidebars.on-sidebar-beside-content(any) {
    font-size: typography-variables.$font-size-big-screen;
  }

  hyphens: auto;
}

body,
.content-popup {
  // This more or less matches both the mobile and traditional versions of
  // Wikipedia. This is the default.
  line-height: 1.7;
}

h3, h4, h5, h6 {
  margin-top: var(--heading-spacing-block-start, 0);
}

// Matches Wikipedia.
h3 {
  @at-root {
    @include vertical-spacing.against-previous(
      &,
      $property:      --heading-spacing-block-start,
      $spacing-small: 1em,
      $spacing-large: 1em
    );
  }

  margin-bottom: 0.25em;
}

// Matches Wikipedia.
h4, h5, h6 {
  @each $selector in & {
    @at-root {
      @include vertical-spacing.against-previous(
        $selector,
        $property:      --heading-spacing-block-start,
        $spacing-small: 0.7em,
        $spacing-large: 0.7em
      );
    }
  }

  margin-bottom: 0.2em;

  font-family: typography.$font-stack;
  font-weight: typography.$font-weight-strong;
}

h5 {
  // Matches Wikipedia.
  font-style: italic;
}

blockquote {
  // This helps the quote stand out from the surrounding text.
  font-style: italic;
}

.block h2 {
  font-size: 130%;
}

.references__list {
  font-size:  90%;
}

footer .menu {
  font-size: 90%;
}
