// -----------------------------------------------------------------------------
//   Typography partial
// -----------------------------------------------------------------------------

@use 'base:global/layout' as layout-base;
@use 'base:global/layout.vertical_spacing' as vertical-spacing;
@use 'base:global/typography';
@use '../variables/typography' as typography-variables;

body {
  @include layout-base.on-sidebar-beside-content(any) {
    font-size: typography-variables.$font-size-big-screen;
  }

  hyphens: auto;
}

body,
.content-popup {
  // This more or less matches both the mobile and traditional versions of
  // Wikipedia. This is the default.
  line-height: 1.7;
}

.page-title {
  // This negative margin roughly accounts for the line-height of the first
  // (top) line so that it appears to have the same spacing on the left, right,
  // and top with respect to the content box.
  margin-top:     -0.2em;
  margin-bottom:   0.6em;

  padding-bottom: 0.4em;

  // This reduces the admittedly large space between lines if the title wraps.
  line-height: 1.1;

  &__secondary {
    padding-top: 0.3em;

    // Increase the line height versus the parent to compensate a bit for the
    // reduced font size.
    line-height: 1.4;

    font-size: 85%;

    // Only apply a more significant font size reduction on wider screens, as
    // this would otherwise make the text uncomfortably small due to the
    // responsive font size higher up the tree.
    @include layout-base.on-sidebar-beside-content(any) {
      font-size: 70%;
    }
  }
}

h3, h4, h5, h6 {
  margin-top: var(--heading-spacing-block-start, 0);
}

// Matches Wikipedia.
h3 {
  @at-root {
    @include vertical-spacing.against-previous(
      &,
      $property:      --heading-spacing-block-start,
      $spacing-small: 1em,
      $spacing-large: 1em
    );
  }

  margin-bottom: 0.25em;
}

// Matches Wikipedia.
h4, h5, h6 {
  @each $selector in & {
    @at-root {
      @include vertical-spacing.against-previous(
        $selector,
        $property:      --heading-spacing-block-start,
        $spacing-small: 0.7em,
        $spacing-large: 0.7em
      );
    }
  }

  margin-bottom: 0.2em;

  font-family: typography.$font-stack;
  font-weight: typography.$font-weight-strong;
}

h5 {
  // Matches Wikipedia.
  font-style: italic;
}

blockquote {
  // This helps the quote stand out from the surrounding text.
  font-style: italic;
}

.block h2 {
  font-size: 130%;
}

.references__list {
  font-size:  90%;
}

footer .menu {
  font-size: 90%;
}
