// -----------------------------------------------------------------------------
//   Omnipedia <media> element partial
// -----------------------------------------------------------------------------

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/content';
@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/layout.vertical_spacing' as vertical-spacing;
@use '../global/card';
@use 'sass/helpers/colour';
@use 'sass:math';
@use '../variables/colours';

.omnipedia-media {
  &--style-framed {
    @include card.base;

    @include colour.set(
      $background: colours.$secondary-content-background-light
    );

    @include colour.on-dark-scheme {
      @include colour.set(
        $background: colours.$secondary-content-background-dark
      );
    }
  }

  @at-root {
    // This uses the same vertical spacing as other content elements plus a bit
    // extra to attempt to align with the top of the first line of ajacent <p>
    // elements.
    @include vertical-spacing.against-previous(
      '.omnipedia-media',
      $spacing-small: content.$item-vertical-spacing-small + 0.7em,
      $spacing-large: content.$item-vertical-spacing-large + 0.7em
    );
  }

  .media {
    @include card.base($padding: 0);

    img {
      // This provides a background colour when images haven't loaded yet or
      // they have transparency, which helps contrast and stand out from the
      // media element frame.
      @include colour.set(
        $background: colours.$primary-content-background-light
      );

      @include colour.on-dark-scheme {
        @include colour.set(
          $background: colours.$primary-content-background-dark
        );
      }
    }
  }

  figure {
    // Override normalize.css.
    margin: 0;
  }

  figcaption {
    @include card.caption;
  }
}

// This replaces the Classy CSS for the Drupal core media embed error element
// and adds dark colour scheme support. The Omnipedia media element generates it
// if there's an error building the media element.
//
// @see core/themes/classy/css/components/media-embed-error.css
//   Based on this Classy CSS file.
//
// @todo Convert the icon to a vector (SVG) and convert the media embed error
//   sizing to ems or rems.
.media-embed-error,
.caption > .media-embed-error {
  $error-icon-size: 100px;

  position: relative;

  max-width:  200px;
  padding:    $error-icon-size 20px 20px;

  @include colour.set(
    $background: colours.$secondary-content-background-light
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: colours.$secondary-content-background-dark
    );
  }

  &::before {
    content: '';

    display: block;

    position: absolute;

    top:  0;
    left: 50%;

    width:  $error-icon-size;
    height: $error-icon-size;

    margin-left: math.div($error-icon-size, 2) * -1;

    background-image:     url(
      '../../../../core/modules/media/images/icons/no-thumbnail.png'
    );
    background-repeat:    no-repeat;
    background-position:  center top;
    background-size:      $error-icon-size $error-icon-size;

    // This inverts the icon on dark colour schemes so that it contrasts better.
    @include colour.on-dark-scheme {
      filter: invert(100%);
    }
  }
}
