// -----------------------------------------------------------------------------
//   Omnipedia <media-group> element partial
// -----------------------------------------------------------------------------

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/elements/list';
@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/content';
@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/layout.vertical_spacing' as vertical-spacing;
@use '../global/card';
@use 'sass/helpers/colour';
@use 'sass/helpers/layout';
@use '../variables/colours';

.omnipedia-media-group {
  @include card.base;

  @include colour.set(
    $background: colours.$secondary-content-background-light
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: colours.$secondary-content-background-dark
    );
  }

  @at-root {
    // This uses the same vertical spacing as other content elements plus a bit
    // extra to attempt to align with the top of the first line of ajacent <p>
    // elements.
    @include vertical-spacing.against-previous(
      '.omnipedia-media-group',
      $spacing-small: content.$item-vertical-spacing-small + 0.7em,
      $spacing-large: content.$item-vertical-spacing-large + 0.7em
    );
  }

  &__list {
    @include list.unlisted;

    @include layout.use-grid {
      display: grid;

      grid-auto-flow: column;
      grid-gap:       card.$padding;

      li + li {
        margin-top: 0 !important;
      }
    }
  }

  .omnipedia-media {
    margin-bottom: 0;
  }

  &__caption {
    @include card.caption;

    // These force the caption to wrap at the width of the thumbnails but no
    // wider, by first causing the text to wrap as small as possible so that it
    // doesn't make the box wider than the thumbnails, and then setting a
    // minimum width of 100% which increases it back up to the width of the
    // thumbnails.
    width:      min-content;
    min-width:  100%;
  }
}
