// -----------------------------------------------------------------------------
//   Omnipedia <media> element stylesheet
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-config; // Configure layout.
@use '../typography/config' as typography-config; // Configure typography.
@use 'base:global/content';
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use '../components/card';
@use 'sass/helpers/colour';
@use '../variables/colours';

.omnipedia-media {
  &--style-framed {
    @include card.base;

    @include colour.set(
      $background: colours.$secondary-content-background-light
    );

    @include colour.on-dark-scheme {
      @include colour.set(
        $background: colours.$secondary-content-background-dark
      );
    }
  }

  @at-root {
    // This uses the same vertical spacing as other content elements plus a bit
    // extra to attempt to align with the top of the first line of adjacent <p>
    // elements.
    @include vertical-spacing.against-previous(
      '.omnipedia-media',
      $spacing-small: content.$item-vertical-spacing-small +
        typography-config.$line-height-compensation,
      $spacing-large: content.$item-vertical-spacing-large +
        typography-config.$line-height-compensation
    );
  }

  .media {
    @include card.base($padding: 0);

    img {
      // This provides a background colour when images haven't loaded yet or
      // they have transparency, which helps contrast and stand out from the
      // media element frame.
      @include colour.set(
        $background: colours.$primary-content-background-light
      );

      @include colour.on-dark-scheme {
        @include colour.set(
          $background: colours.$primary-content-background-dark
        );
      }
    }
  }

  figure {
    // Override normalize.css.
    margin: 0;
  }

  figcaption {
    @include card.caption;
  }
}
