// -----------------------------------------------------------------------------
//   Typography configuration
// -----------------------------------------------------------------------------

///
/// Document font size when on large screens, i.e. when sidebars beside content.
///
/// This matches the desktop Wikipedia size.
///
$font-size-big-screen: 87%;

///
/// Font weight for normal (non-bold) text.
///
$font-weight-normal: 400;

///
/// Font weight for bold text.
///
$font-weight-strong: 700;

@use 'base:typography/config' as typography-config with (
  $font-weight-normal: $font-weight-normal,
  $font-weight-strong: $font-weight-strong,
);

// Forward the base typography configuration to expose its public members as
// part of this config.
@forward 'base:typography/config';

///
/// The heading font stack.
///
/// This is Wikipedia's heading font-family, but with Exo 2 as the first choice.
///
$heading-font-stack: 'Exo2', 'Linux Libertine', 'Georgia', 'Times', serif;

///
/// The heading font weight.
///
/// Bold is too heavy so we use the normal weight.
///
$heading-font-weight: $font-weight-normal;

@use 'base:typography/headings' as typography-headings with (
  $heading-font-stack:  $heading-font-stack,
  $heading-font-weight: $heading-font-weight,
);

///
/// Shared text decoration thickness.
///
/// This value is chosen specifically because Firefox and Chrome agree on the
/// same computed thickness and spacing of dashed/dotted underlines. A value of
/// 2px would result in Firefox making it too thick and too different from
/// Chrome at the same value.
///
$text-decoration-thickness: 1.6px;

:root {
  --text-decoration-thickness: #{$text-decoration-thickness};
}

///
/// Shared text decoration offset.
///
/// This offsets the underline enough so there's a bit of space between it and
/// the baseline of the text. This is a value that Firefox and Chrome display
/// roughly similarly.
///
$text-decoration-offset: 10%;
