// -----------------------------------------------------------------------------
//   Element typography partial
// -----------------------------------------------------------------------------

blockquote {
  // This helps the quote stand out from the surrounding text.
  font-style: italic;
}

.references__list {
  font-size:  90%;
}

footer .menu {
  font-size: 90%;
}
