// -----------------------------------------------------------------------------
//   Site layout - Footer
// -----------------------------------------------------------------------------

@use 'sass/helpers/layout';

footer {

  nav {
    max-width: max-content;
  }

  // This lays out menus (like the footer menu) horizontally, making use of the
  // *-gap properties in browsers that support them for flexbox.
  ul.menu {

    display: flex;

    // Make sure this is using flexbox even when menus are using grid layout.
    @include layout.use-grid {
      display: flex;
    }

    flex-wrap: wrap;

  }

}
