// -----------------------------------------------------------------------------
//   Overlay partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/colour';
@use '../variables/general' as general-variables;

// This centralizes overlay styles used by several components.

// JavaScript-powered overlays.
.overlay,
// The header overlay in compact mode, i.e. narrow screens if the JavaScript
// overlay is not present.
//
// @see ../components/header/_overlay.scss
main[role="main"]:not(.header-has-overlay)::before,
// The sidebars off-canvas overlay if the JavaScript overlay is not present.
.layout-sidebars__closed-target:not(.layout-sidebars__closed-target--has-overlay) {
  @include colour.set(
    $background: rgba(colour.$background-light, 0.8)
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: rgba(colour.$background-dark, 0.8)
    );
  }

  @if (general-variables.$use-backdrop-filter-blur == true) {

    // We don't need as high opacity if backdrop-filter is supported. If we used
    // the same opacity as above, the blurring would make the background far
    // fainter perceptually than intended.
    @supports (backdrop-filter: blur(4px)) {
      @include colour.set(
        $background: rgba(colour.$background-light, 0.6)
      );

      @include colour.on-dark-scheme {
        @include colour.set(
          $background: rgba(colour.$background-dark, 0.6)
        );
      }
    }

    // Blur the background if the browser supports backdrop-filter. Note that at
    // the time of writing (2021-02-19), Chromium and WebKit support it, but
    // Firefox still has it behind a flag.
    //
    // @see https://caniuse.com/css-backdrop-filter
    //
    // @see https://bugzilla.mozilla.org/show_bug.cgi?id=1578503
    backdrop-filter: blur(4px);

  }

}

.overlay--is-active {
  // This must be fully opaque for backdrop-filter to take full effect.
  opacity: 1;
}
