// -----------------------------------------------------------------------------
//   Menu stylesheet
// -----------------------------------------------------------------------------

@use 'sass/helpers/selector';
@use 'sass/helpers/layout';

///
/// Menu item row gap.
///
$menu-item-row-gap: 0.5em;

///
/// Menu item column gap.
///
$menu-item-column-gap: 1em;

:root {
  --menu-item-row-gap:    #{$menu-item-row-gap};
  --menu-item-column-gap: #{$menu-item-column-gap};
}

ul.menu {

  @include layout.use-grid {

    display: grid;

    row-gap:    var(--menu-item-row-gap);
    column-gap: var(--menu-item-column-gap);

  }

  margin-top:     0;
  margin-bottom:  0;

  @include selector.root-conditions(('[dir=ltr]'), 'html') {
    margin-left: 0;
  }
  @include selector.root-conditions(('[dir=rtl]'), 'html') {
    margin-right: 0;
  }

}

.menu-item {
  padding-top: 0;
}
