// -----------------------------------------------------------------------------
//   Off-canvas panel component
// -----------------------------------------------------------------------------

// This exists primarily to add a faint, light-coloured glow from the top of the
// panel over the overlay to attempt to make the panel contrast a bit with the
// page content under the overlay. This is only applied in dark mode when using
// the dark panel theme, as that theme has a pure black background.

@use '../variables/colours'; // Configure colours.
@use '../variables/general' as general-variables;
@use 'sass:color';
@use 'sass/helpers/colour';

.offcanvas-panel {

  &--bottom#{&}--theme-dark#{&}--modal {

    @include colour.on-dark-scheme {

      border-top: general-variables.$divider-thickness solid
        color.adjust(colours.$divider-on-dark, $lightness: -10%);

    }

  }

  &--bottom::before {

    content: '';

    display: block;

    position: absolute;

    width:  100%;
    height: 100%;

    ///
    /// The colour of the off-canvas overlay glow.
    ///
    --offcanvas-overlay-glow-colour: white;

    pointer-events: none;

    opacity: 0;

    box-shadow: 0 -1rem 7rem 1rem var(--offcanvas-overlay-glow-colour);

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;

  }

  &--bottom#{&}--theme-dark#{&}--modal#{&}--is-active::before {

    @include colour.on-dark-scheme {
      opacity: 0.1;
    }

  }

}
