// -----------------------------------------------------------------------------
//   Off-canvas panel component
// -----------------------------------------------------------------------------

// This exists primarily to add a faint, light-coloured gradient from the top of
// the panel over the overlay to attempt to make the panel contrast a bit with
// the page content under the overlay. This is only applied in dark mode when
// using the dark panel theme, as that theme has a pure black background.

@use '../variables/colours'; // Configure colours.
@use '../variables/general' as general-variables;
@use 'sass:color';
@use 'sass/helpers/colour';
@use 'sass/variables/motion';

.offcanvas-panel {

  &--bottom#{&}--theme-dark#{&}--modal {

    @include colour.on-dark-scheme {

      border-top: general-variables.$divider-thickness solid
        color.adjust(colours.$divider-on-dark, $lightness: -10%);

    }

  }

  &--bottom::before {

    content: '';

    ///
    /// The height of the off-canvas overlay gradient.
    ///
    --offcanvas-overlay-gradient-height: 30vh;

    display: block;

    position: absolute;

    width:  100%;
    height: var(--offcanvas-overlay-gradient-height);

    top: calc(var(--offcanvas-overlay-gradient-height) * -1);

    pointer-events: none;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;

  }

  &--bottom#{&}--theme-dark#{&}--modal::before {

    @include colour.on-dark-scheme {
      background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 100%, 0),
        #{motion.$easing-accelerate},
        white,
      );
    }

  }

  &--bottom#{&}--theme-dark#{&}--modal#{&}--is-active::before {

    @include colour.on-dark-scheme {
      opacity: 0.05;
    }

  }

}
