// -----------------------------------------------------------------------------
//   References (citations, footnotes) stylesheet
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-config; // Configure layout.
@use 'base:global/content';
@use 'base:layout/vertical_spacing' as vertical-spacing;

.references-heading {
  clear: both;
}

@at-root {
  @include vertical-spacing.against-previous(
    '.references',
    $spacing-small: content.$item-vertical-spacing-small,
    $spacing-large: content.$item-vertical-spacing-large
  );
}
