// -----------------------------------------------------------------------------
//   Commerce checkout layout partial
// -----------------------------------------------------------------------------

@use '../../layout/config' as layout-config; // Configure layout.
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use 'base:global/content';
@use 'sass/helpers/layout';

.layout-checkout-form {

  display: flex;
  flex-wrap: wrap;

  --region-gap: #{layout-config.$gap};
  --region-min-width: 18em;

  // This lays out these sections as two columns side-by-side, if space
  // permits. The 0.1em is to account for rounding errors.
  --region-width: calc(50% - var(--region-gap) / 2 - 0.1em);

  gap: var(--region-gap);

  .layout-region {

    flex-grow: 1;

    min-width: var(--region-min-width);

    box-sizing: border-box;

    &-checkout-main, &-checkout-secondary {
      width: var(--region-width);
    }

  }

  &::after {
    display: none;
  }

  // This contains an <iframe> that's got a high z-index set inline, which ends
  // up layering this above elements such as the header and back to top widget.
  .paypal-buttons-container {
    position:   relative;
    z-index:    1;
  }

  .address-book-edit-button {
    // Reset Classy.
    margin-left:  0;
    margin-right: 0;
  }

  @include vertical-spacing.against-previous(
    '.address-book-edit-button',
    $spacing-small: content.$item-vertical-spacing-small,
    $spacing-large: content.$item-vertical-spacing-large
  );
}

.layout-region-checkout-main {
  @include vertical-spacing.against-previous(
    '.form-wrapper',
    $spacing-small: content.$item-vertical-spacing-small,
    $spacing-large: content.$item-vertical-spacing-large
  );
}

.layout-region-checkout-secondary {
  h3:first-child {
    margin-top: -0.55em;
  }
}

.layout-region-checkout-footer {
  .form-actions {

    margin-top:     0;
    margin-bottom:  0;

    @include layout.use-grid {

      .button--primary,
      .paypal-buttons-container {
        order: 2;
      }

      .link--previous {
        order: 1;
      }

      .paypal-buttons-container {
        // This attempts to vertically centre the buttons with the adjacent
        // link.
        top: 0.25em;

        min-width: 12em;
      }
    }
  }
}
