// -----------------------------------------------------------------------------
//   Commerce checkout log in pane stylesheet
// -----------------------------------------------------------------------------

@use '../../layout/config' as layout-config; // Configure layout.
@use 'sass/helpers/layout';

// This reuses the two column layout for the for the checkout form, without the
// need for a media query. This replaces the default styles that ship with
// Commerce which use floats and can break at certain viewport widths.
.checkout-pane-login {
  display: flex;
  flex-wrap: wrap;

  gap: var(--region-gap);

  .form-wrapper__login-option {

    flex-grow: 1;

    min-width: var(--region-min-width);

    box-sizing: border-box;

    width: var(--region-width);

  }

  @include layout.supports-flexbox-gap {

    .form-wrapper__returning-customer > .fieldset-wrapper {

      display: flex;
      flex-wrap: wrap;

      // This is so the forgot password link doesn't expand to the full height
      // of the flex row, which would create phantom clickable space.
      align-items: center;

      column-gap: 1em;

    }

    .form-wrapper__login-option > .fieldset-wrapper {
      // Match the returning customer fieldset so that they line up correctly
      // due to margins not collapsing while using flexbox versus block layout.
      display: flex;
      flex-wrap: wrap;
    }

  }

}

// Adapted from commerce_checkout/login_pane:

.form-wrapper__login-option {

  width: 100%;

  box-sizing: border-box;

  input.button {
    margin: 0;
  }

}

.form-wrapper__login-option input:not([type="submit"]):not([type="password"]),
.form-wrapper__returning-customer input[type="password"] {
  width: 100%;
}

.form-wrapper__login-option .form-item:first-of-type,
.form-wrapper__returning-customer .form-item:first-of-type {
  margin-top: 0;
}
