// -----------------------------------------------------------------------------
//   Variables - Colours
// -----------------------------------------------------------------------------

///
/// Omnipedia blue.
///
/// @link https://www.materialui.co/colors/blue/900
///
$omnipedia-blue: #0d47a1;

///
/// Material Design primary colour; using Omnipedia blue.
///
/// @require {variable} $omnipedia-blue
///
$material-primary-colour: $omnipedia-blue;

///
/// Primary content light background colour.
///
/// This is used for the main content area when the user has not specified dark
/// mode.
///
$primary-content-background-colour-light: white;

///
/// Primary content dark background colour.
///
/// This is used for the main content area when the user has specified dark
/// mode.
///
$primary-content-background-colour-dark: black;

///
/// Secondary content light background colour.
///
/// This is used for secondary content areas and is applied to the viewport when
/// the user has not specified dark mode.
///
$secondary-content-background-colour-light: hsl(0, 0, 95%);

///
/// Secondary content dark background colour.
///
/// This is used for secondary content areas and is applied to the viewport when
/// the user has specified dark mode.
///
$secondary-content-background-colour-dark: hsl(0, 0, 4%);

///
/// Light background colour.
///
/// @require {variable} $secondary-content-background-colour-light
///
$background-colour-light: $secondary-content-background-colour-light;

///
/// Dark background colour.
///
/// @require {variable} $secondary-content-background-colour-dark
///
$background-colour-dark: $secondary-content-background-colour-dark;

///
/// Divider colour on light backgrounds.
///
/// This is applied to various things, including the border around the main
/// content area when the user has not specified dark mode.
///
$divider-colour-on-light: hsl(0, 0, 75%);

///
/// Divider colour on dark backgrounds.
///
/// This is applied to various things, including the border around the main
/// content area when the user has specified dark mode.
///
$divider-colour-on-dark: hsl(0, 0, 25%);

///
/// Material Design line colour on light backgrounds.
///
/// This overrides the default to ensure it's consistent with other content
/// dividers.
///
/// @require {variable} $divider-colour-on-light
///
$material-line-colour-on-light: $divider-colour-on-light;

///
/// Material Design line colour on dark backgrounds.
///
/// This overrides the default to ensure it's consistent with other content
/// dividers.
///
/// @require {variable} $divider-colour-on-dark
///
$material-line-colour-on-dark: $divider-colour-on-dark;
