// -----------------------------------------------------------------------------
//   Variables - Colours
// -----------------------------------------------------------------------------

@use 'material.common/material.colour' as material-colour;
@use 'sass/helpers/colour';

///
/// Omnipedia blue.
///
/// @link https://www.materialui.co/colors/blue/900
///
$omnipedia-blue: #0d47a1;

///
/// Material Design primary colour; using Omnipedia blue.
///
/// @require {variable} $omnipedia-blue
///
material-colour.$primary: $omnipedia-blue;

///
/// Primary content light background colour.
///
/// This is used for the main content area when the user has not specified dark
/// mode.
///
$primary-content-background-light: white;

///
/// Primary content dark background colour.
///
/// This is used for the main content area when the user has specified dark
/// mode.
///
$primary-content-background-dark: black;

///
/// Secondary content light background colour.
///
/// This is used for secondary content areas and is applied to the viewport when
/// the user has not specified dark mode.
///
$secondary-content-background-light: hsl(0, 0%, 95%);

///
/// Secondary content dark background colour.
///
/// This is used for secondary content areas and is applied to the viewport when
/// the user has specified dark mode.
///
$secondary-content-background-dark: hsl(0, 0%, 4%);

///
/// Light background colour.
///
/// @require {variable} $secondary-content-background-light
///
colour.$background-light: $secondary-content-background-light;

///
/// Dark background colour.
///
/// @require {variable} $secondary-content-background-dark
///
colour.$background-dark: $secondary-content-background-dark;

///
/// Divider colour on light backgrounds.
///
/// This is applied to various things, including the border around the main
/// content area when the user has not specified dark mode.
///
$divider-on-light: hsl(0, 0%, 75%);

///
/// Divider colour on dark backgrounds.
///
/// This is applied to various things, including the border around the main
/// content area when the user has specified dark mode.
///
$divider-on-dark: hsl(0, 0%, 25%);

///
/// Material Design line colour on light backgrounds.
///
/// This overrides the default to ensure it's consistent with other content
/// dividers.
///
/// @require {variable} $divider-on-light
///
material-colour.$line-on-light: $divider-on-light;

///
/// Material Design line colour on dark backgrounds.
///
/// This overrides the default to ensure it's consistent with other content
/// dividers.
///
/// @require {variable} $divider-on-dark
///
material-colour.$line-on-dark: $divider-on-dark;
