// -----------------------------------------------------------------------------
//   Variables - General
// -----------------------------------------------------------------------------

///
/// Spacing used between and around site branding elements.
///
$branding-spacing: 0.5em;

///
/// The maximum width of the site layout when both sidebars are present.
///
/// This is increased from the default value.
///
$layout-with-both-sidebars-max-width: 80em;

///
/// The sidebar column widths, as a grid-template-columns value.
///
/// The maximum value is decreased from the default value.
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
///   Lists valid values.
///
$layout-sidebar-column-width: minmax(8em, 10em);

///
/// Divider thickness.
///
$divider-thickness: 1px;

///
/// Material tabs container underline thickness.
///
/// This overrides the default to ensure it's consistent with any divider
/// changes.
///
/// @require {variable} $divider-thickness
///
$material-tabs-underline-thickness: $divider-thickness;

///
/// Material tabs active indicator underline thickness.
///
/// This overrides the default to ensure it's consistent with any divider
/// changes.
///
/// @require {variable} $divider-thickness
///
$material-tabs-indicator-thickness: $divider-thickness * 2;
