// -----------------------------------------------------------------------------
//   Variables - Layout
// -----------------------------------------------------------------------------

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/content';
@use 'sass/variables/general';

///
/// Generic content item vertical spacing on smaller screens.
///
/// Note that this is set to this specific value to approximate Wikipedia's
/// spacing before <p> elements, so should not be changed from this value.
///
content.$item-vertical-spacing-small: general.$general-spacing * 0.8;

///
/// Generic content item vertical spacing on larger screens.
///
/// Note that this is set to this specific value to approximate Wikipedia's
/// spacing before <p> elements, so should not be changed from this value.
///
content.$item-vertical-spacing-large: general.$general-spacing * 0.8;

///
/// Spacing used between and around site branding elements.
///
$branding-spacing: 0.5em;

///
/// Branding minimum size in compact (narrow screen) layout.
///
/// This is used as the minimum width of the site logo.
///
$branding-compact-size-min: 2em;

///
/// Branding maximum size in compact (narrow screen) layout.
///
/// This is used as both the maximum width and height of the site logo, and as
/// the height of the branding block to prevent layout shifting during page
/// load.
///
$branding-compact-size-max: 3em;

///
/// The height of the header row
///
/// The header row contains the search, menu link/button, and current date.
///
/// This limits the height, both to prevent layout shifting during load and to
/// fit the otherwise much taller search field within the limited space.
///
$header-row-height: 1.25em;

///
/// Header column gap used to make elements distinct from neighbours.
///
/// This is primarily used as a larger gap between the branding and header on
/// narrow screens and in between header elements on wider screens.
///
$header-distinct-gap: 1.5em;

///
/// The minimum width of the layout to display both sidebars beside content.
///
/// This is increased from the default value.
///
$with-both-sidebars-min-width: 52em;

///
/// The maximum width of the site layout when both sidebars are present.
///
/// This is increased from the default value.
///
$with-both-sidebars-max-width: 100em;

///
/// The sidebar column widths, as a grid-template-columns value.
///
/// The maximum value is decreased from the default value.
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
///   Lists valid values.
///
$sidebar-column-width: minmax(8em, 10em);

///
/// The gap between layout columns.
///
/// This is increased over the default value.
///
$gap: 1.5em;

@use '../../../../ambientimpact/ambientimpact_base/stylesheets/global/layout' with (
  $with-both-sidebars-min-width: $with-both-sidebars-min-width,
  $with-both-sidebars-max-width: $with-both-sidebars-max-width,
  $sidebar-column-width: $sidebar-column-width,
  $gap: $gap,
);
