// -----------------------------------------------------------------------------
//   Site header - Border
// -----------------------------------------------------------------------------

@use '../../variables/colours'; // Configure colours.
@use 'sass/helpers/colour';
@use '../../variables/general' as general-variables;
@use '../../layout/config' as layout-config; // Configure layout.
@use 'base:layout/sidebars' as layout-sidebars;

header[role='banner'],
.region-primary-menu {

  &::before {
    border-bottom:
      general-variables.$divider-thickness solid colours.$divider-on-light;

    @include colour.on-dark-scheme {
      border-bottom-color: colours.$divider-on-dark;
    }
  }

}

@include layout-sidebars.on-sidebar-beside-content(both) {

  .region-primary-menu {
    &:not(.headroom)::before,
    &.headroom--top::before {
      border-bottom-color: transparent !important;
    }
  }

}
