// -----------------------------------------------------------------------------
//   Site header - Clipping
// -----------------------------------------------------------------------------

@use '../../layout/config' as layout-config; // Configure layout.
@use 'base:layout/sidebars' as layout-sidebars;
@use 'base:forms/search';
@use 'sass/helpers/selector';
@use '../../variables/general' as general-variables;

.region-primary-menu {
  @include layout-sidebars.on-sidebar-beside-content(both) {
    ///
    /// Amount of extra vertical space below to prevent clipping the shadow.
    ///
    $shadow-buffer: 10px;

    ///
    /// Rounding error adjustment.
    ///
    $rounding-adjust: 1px;

    // These are applied to the region container rather than to the generated
    // content because doing the latter causes some rounding errors in
    // Chromium and the shadow leaks a bit on the sides.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      clip-path: polygon(
        0 -#{layout-config.$gap},

        calc(100% + #{search.$button-spacing} - #{general-variables.$divider-thickness})
          -#{layout-config.$gap},

        calc(100% + #{search.$button-spacing} - #{general-variables.$divider-thickness})
          calc(100% + #{layout-config.$gap} - #{general-variables.$divider-thickness} - #{$rounding-adjust}),

        calc(100% - #{general-variables.$divider-thickness})
          calc(100% + #{layout-config.$gap} - #{general-variables.$divider-thickness} - #{$rounding-adjust}),

        calc(100% - #{general-variables.$divider-thickness})
          calc(100% + #{layout-config.$gap} + #{$shadow-buffer}),

        0 calc(100% + #{layout-config.$gap} + #{$shadow-buffer})
      );
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      clip-path: polygon(
        -#{search.$button-spacing} -#{layout-config.$gap},

        calc(100% + #{general-variables.$divider-thickness}) -#{layout-config.$gap},

        calc(100% + #{general-variables.$divider-thickness})
          calc(100% + #{layout-config.$gap} + #{$shadow-buffer}),

        #{general-variables.$divider-thickness}
          calc(100% + #{layout-config.$gap} + #{$shadow-buffer}),

        #{general-variables.$divider-thickness}
          calc(100% + #{layout-config.$gap} - #{general-variables.$divider-thickness}),

        -#{search.$button-spacing}
          calc(100% + #{layout-config.$gap} - #{general-variables.$divider-thickness})
      );
    }
  }
}
