// -----------------------------------------------------------------------------
//   Site header - Shadow
// -----------------------------------------------------------------------------

@use 'sass/helpers/colour';

///
/// Header shadow on light backgrounds.
///
$shadow-on-light: 0 2px 3px rgba(0, 0, 0, 0.3);

///
/// Header shadow on dark backgrounds.
///
$shadow-on-dark: 0 1px 3px rgba(0, 0, 0, 0.8);

header[role='banner'],
.region-primary-menu {

  &::after {
    box-shadow: $shadow-on-light;

    @include colour.on-dark-scheme {
      box-shadow: $shadow-on-dark;
    }

    transition-property:        opacity;
    transition-duration:        200ms;
    // Opacity transitions look more natural with linear easing.
    transition-timing-function: linear;
  }

  &.headroom--top,
  &.headroom--unpinned {
    &::after {
      opacity: 0;
    }
  }
}
