// -----------------------------------------------------------------------------
//   Current date block partial
// -----------------------------------------------------------------------------

.omnipedia-current-date {
  display:      block;

  font-size:    150%;
  font-style:   italic;
  line-height:  1;
  text-align:   right;
  white-space:  nowrap;

  opacity:      0.6;
}
