// -----------------------------------------------------------------------------
//   Help block partial
// -----------------------------------------------------------------------------

@use '../variables/layout' as layout-variables; // Configure layout.
@use 'base:layout/config' as layout-config;
@use 'material.common/material.general' as material-general;
@use 'sass:color';
@use 'sass:math';
@use 'sass/helpers/colour';

///
/// Help block base colour.
///
$colour-base: #006ce4;

///
/// Help block background colour on light backgrounds.
///
$background-colour-on-light: color.adjust(
  $colour-base, $saturation: -40%, $lightness: 45%
);

///
/// Help block background colour on dark backgrounds.
///
$background-colour-on-dark: color.adjust(
  $colour-base, $saturation: -60%, $lightness: -20%
);

///
/// Help block padding.
///
/// @require {variable} layout-config.$gap
///
$padding: math.div(layout-config.$gap, 3) math.div(layout-config.$gap, 2);

.block-help {
  padding: $padding;

  border-radius: material-general.$border-radius;

  @include colour.set(
    $background: $background-colour-on-light
  );

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: $background-colour-on-dark
    );
  }
}
