// -----------------------------------------------------------------------------
//   Join Omnipedia block partial
// -----------------------------------------------------------------------------

@use 'material.common/material.general' as material-general;
@use 'sass:color';
@use 'sass/helpers/colour';
@use '../variables/colours';

///
/// Join Omnipedia link border pulse keyframes on light backgrounds.
///
@keyframes join-omnipedia-pulse-on-light {
  0% {
    border-color: colours.$omnipedia-blue;
  }
  100% {
    border-color: color.mix(
      colours.$omnipedia-blue, colour.$background-light, 50%
    );
  }
}

///
/// Join Omnipedia link border pulse keyframes on dark backgrounds.
///
@keyframes join-omnipedia-pulse-on-dark {
  0% {
    border-color: colours.$omnipedia-blue;
  }
  100% {
    border-color: color.mix(
      colours.$omnipedia-blue, colour.$background-dark, 70%
    );
  }
}

.join-omnipedia {
  &__link {
    display: block;

    border: 2px solid colours.$omnipedia-blue;
    border-radius:    material-general.$border-radius;

    padding: 0.3em 0.4em;

    font-size: 120%;

    text-align: center;

    // This adds a subtle pulsing of the border colour.
    animation-name:             join-omnipedia-pulse-on-light;
    animation-duration:         1500ms;
    animation-timing-function:  ease-in-out;
    animation-iteration-count:  infinite;
    animation-direction:        alternate;

    @include colour.on-dark-scheme {
      animation-name:           join-omnipedia-pulse-on-dark;
    }
  }
}
