// -----------------------------------------------------------------------------
//   Page revision history block partial
// -----------------------------------------------------------------------------

@use 'sass:math';
@use 'sass/helpers/colour';
@use 'sass/helpers/selector';
@use 'sass/variables/general';
@use '../components/scrollbar_hide' as scrollbar-hide;
@use '../variables/colours';
@use '../variables/general' as general-variables;
@use '../../../../ambientimpact/ambientimpact_base/stylesheets/elements/list';

///
/// Omnipedia page revisions block line colour on light backgrounds.
///
/// @require {variable} colours.$divider-on-light
///
$block-line-colour-on-light: colours.$divider-on-light;

///
/// Omnipedia page revisions block line colour on dark backgrounds.
///
/// @require {variable} colours.$divider-on-dark
///
$block-line-colour-on-dark: colours.$divider-on-dark;

///
/// Omnipedia page revisions block line thickness.
///
/// @require {variable} general-variables.$divider-thickness
///
$block-line-thickness: general-variables.$divider-thickness;

///
/// Omnipedia page revisions block item spacing.
///
/// @require {variable} general.$general-spacing
///
$block-item-spacing: general.$general-spacing * 1.3;

///
/// Omnipedia page revisions block item padding.
///
/// @require {variable} general.$general-spacing
///
$block-item-padding: general.$general-spacing;

.omnipedia-wiki-page-revisions {

  $self: &;

  &__list {

    @include list.unlisted;

    max-height: 30vh;

    scroll-snap-type: y mandatory;

    // This vertical line is meant to represent the time axis. On LTR the line
    // is on the left, while on RTL it's on the right.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      border-left:
        $block-line-thickness
        solid
        $block-line-colour-on-light;

      @include colour.on-dark-scheme {
        border-left-color: $block-line-colour-on-dark;
      }
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      border-right:
        $block-line-thickness
        solid
        $block-line-colour-on-light;

      @include colour.on-dark-scheme {
        border-right-color: $block-line-colour-on-dark;
      }
    }

    // Remove the vertical margins as they'll no longer be collapsed due to
    // overflow-x on the container.
    margin-top:     0;
    margin-bottom:  0;

    &-item {

      scroll-snap-align: start;

      // The last item aligns to the end/bottom of its block rather than the
      // start/top.
      &:last-child {
        scroll-snap-align: end;
      }

      // Remove bottom margin. Direction required for specificity over Classy.
      @include selector.root-conditions(('[dir=ltr]', '[dir=rtl]'), 'html') {
        margin-bottom: 0;
      }

      // Spacing between items. Direction required for specificity over Classy.
      * + & {
        @include selector.root-conditions(('[dir=ltr]', '[dir=rtl]'), 'html') {
          margin-top: $block-item-spacing;
        }
      }

      @include selector.root-conditions(('[dir=ltr]'), 'html') {
        padding-left:   $block-item-padding;
      }
      @include selector.root-conditions(('[dir=rtl]'), 'html') {
        padding-right:  $block-item-padding;
      }

      // This horizontal line is meant to represent individual revisions
      // branching off of the time axis.
      border-bottom:
        $block-line-thickness
        solid
        $block-line-colour-on-light;

      @include colour.on-dark-scheme {
        border-bottom-color:
          $block-line-colour-on-dark;
      }

    }

    &-item-status {
      font-size: 85%;
    }

  }

  // Scrollbar hide stuff starts here.

  @include scrollbar-hide.container;

  &__list {

    @include scrollbar-hide.scroller;

    --scroll-hide-scroller-padding-top: calc(
      var(--scrollbar-hide-fade-distance) * 0.75
    );

    &-item {
      @include scrollbar-hide.child;
    }

  }

  &::before, &::after {
    content: '';
  }

  &::before {
    @include scrollbar-hide.fade(top);
  }

  &::after {
    @include scrollbar-hide.fade(bottom);
  }

  &:hover, &:focus-within {
    #{$self}__list {
      @include scrollbar-hide.scroller-scrollbar-visible;
    }

    #{$self}__list-item {
      @include scrollbar-hide.child-scrollbar-visible;
    }

    &::before, &::after {
      @include scrollbar-hide.fade-scrollbar-visible;
    }
  }

}

* + .omnipedia-wiki-page-revisions-toggle {
  margin-top: math.div($block-item-spacing, 2);
}
