// -----------------------------------------------------------------------------
//   Current date block
// -----------------------------------------------------------------------------

@use 'sass/helpers/breakpoint';
@use 'sass/helpers/hide';
@use 'base:layout/sidebars' as layout-sidebars;

@include breakpoint.add((
  'omnipedia-current-date-visible':           32em,
  'omnipedia-current-date-font-size-larger':  40em,
));

.omnipedia-current-date {
  display: block;

  @include breakpoint.on('<omnipedia-current-date-visible') {
    @include hide.me;
  }

  font-size:    100%;
  font-style:   italic;
  line-height:  1;
  text-align:   right;
  white-space:  nowrap;

  opacity: 0.6;

  @include breakpoint.on('>=omnipedia-current-date-font-size-larger') {
    font-size: 120%;
  }

  @include layout-sidebars.on-sidebar-beside-content(any) {
    font-size:  150%;
  }
}
