// -----------------------------------------------------------------------------
//   Page title block
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-variables; // Configure layout.
@use 'base:layout/sidebars' as layout-sidebars;
@use 'sass/helpers/hide';
@use 'sass/helpers/selector';

.block-page-title-block {
  // Hide the page title visually on main pages as it's not really needed.
  .omnipedia--is-main-page & {
    @include hide.me;

    // Completely remove contextual links so that they cannot be focused.
    .contextual {
      display: none;
    }
  }
}

// This lays out the page title as two sections if the appropriate wrappers are
// present: the primary section, and a de-emphasized secondary section, the
// latter wrapping to a new line if it can't fit after the primary section, and
// having reduced font size and opacity.
//
// @see \Drupal\omnipedia_content\Controller\OmnipediaWikiNodeChangesController::title()
//   Example usage.
.page-title {
  display: flex;

  flex-wrap: wrap;
  align-items: baseline;

  // This negative margin roughly accounts for the line-height of the first
  // (top) line so that it appears to have the same spacing on the left, right,
  // and top with respect to the content box.
  margin-top:     -0.2em;
  margin-bottom:   0.6em;

  padding-bottom: 0.4em;

  // This reduces the admittedly large space between lines if the title wraps.
  line-height: 1.1;

  // This is usually a colon (:) or dash (-), and provided for when the title
  // is displayed as text-only, such as in the <title> element and when copied
  // by a user, but is otherwise invisible.
  &__glue {
    opacity: 0;

    // This adds a bit of extra space between the primary and secondary
    // sections.
    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      padding-right: 0.4em;
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      padding-left: 0.4em;
    }
  }

  &__secondary {
    padding-top: 0.3em;

    opacity: 0.6;

    // Increase the line height versus the parent to compensate a bit for the
    // reduced font size.
    line-height: 1.4;

    font-size: 85%;

    // Only apply a more significant font size reduction on wider screens, as
    // this would otherwise make the text uncomfortably small due to the
    // responsive font size higher up the tree.
    @include layout-sidebars.on-sidebar-beside-content(any) {
      font-size: 70%;
    }
  }
}
