// -----------------------------------------------------------------------------
//   Overlay partial
// -----------------------------------------------------------------------------

// This centralizes overlay styles used by several components.

// Generic JavaScript-powered overlays.
.overlay,
// The header overlay in compact mode, i.e. narrow screens.
//
// @see ../global/_header.overlay.scss
main[role="main"]::before {
  @include set-colours(
    $background: rgba($background-colour-light, 0.8)
  );

  @include on-dark-colour-scheme {
    @include set-colours(
      $background: rgba($background-colour-dark, 0.8)
    );
  }

  // We don't need as high opacity if backdrop-filter is supported. If we used
  // the same opacity as above, the blurring would make the background far
  // fainter perceptually than intended.
  @supports (backdrop-filter: blur(4px)) {
    @include set-colours(
      $background: rgba($background-colour-light, 0.6)
    );

    @include on-dark-colour-scheme {
      @include set-colours(
        $background: rgba($background-colour-dark, 0.6)
      );
    }
  }

  // Blur the background if the browser supports backdrop-filter. Note that at
  // the time of writing (2021-02-19), Chromium and WebKit support it, but
  // Firefox still has it behind a flag.
  //
  // @see https://caniuse.com/css-backdrop-filter
  //
  // @see https://bugzilla.mozilla.org/show_bug.cgi?id=1578503
  backdrop-filter: blur(4px);
}

.overlay--is-active {
  // This must be fully opaque for backdrop-filter to take full effect.
  opacity: 1;
}
