// -----------------------------------------------------------------------------
//   Headings typography partial
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-config; // Configure layout.
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use 'config' as typography-config; // Configure typography.
@use '@fontsource/exo-2/scss/mixins' as exo-2-font;

///
/// Exo 2 @font-face output.
///
/// @link https://fontsource.org/fonts/exo-2
///
/// @todo This font supports the variable font format. Start using that?
///
@include exo-2-font.fontFace(
  $weight:  200,
);
@include exo-2-font.fontFace(
  $weight:  200,
  $style:   italic,
);
@include exo-2-font.fontFace(
  $weight:  500,
);
@include exo-2-font.fontFace(
  $weight:  500,
  $style:   italic,
);

// The primary purpose of the styles in this partial is to match Wikipedia's
// heading typography as closely as possible.

h3, h4, h5, h6 {
  margin-top: var(--heading-spacing-block-start, 0);
}

h3 {
  @at-root {
    @include vertical-spacing.against-previous(
      &,
      $property:      --heading-spacing-block-start,
      $spacing-small: 1em,
      $spacing-large: 1em
    );
  }

  margin-bottom: 0.25em;
}

h4, h5, h6 {
  @each $selector in & {
    @at-root {
      @include vertical-spacing.against-previous(
        $selector,
        $property:      --heading-spacing-block-start,
        $spacing-small: 0.7em,
        $spacing-large: 0.7em
      );
    }
  }

  margin-bottom: 0.2em;

  font-family: typography-config.$font-stack;
  font-weight: typography-config.$font-weight-strong;
}

h5 {
  font-style: italic;
}

.block h2 {
  font-size: 130%;
}
