// -----------------------------------------------------------------------------
//   Site layout - Content
// -----------------------------------------------------------------------------

@use 'config' as layout-variables; // Configure layout.
@use 'base:layout/config' as layout-config;
@use 'base:layout/sidebars' as layout-sidebars;
@use 'sass/helpers/breakpoint';

.layout-content {
  // On narrow screens the horizontal padding matches the layout gutter.
  padding: layout-config.$gap layout-config.$gutter;

  @include breakpoint.on('<layout-with-both-sidebars') {
    // Cancel out the default horizontal padding set in the
    // layout-container-base-horizontal mixin, as this conflicts with the
    // background and borders we set around the content area.
    //
    // @see {mixin} layout-container-base-horizontal
    margin-left:  layout-config.$gutter * -1;
    margin-right: layout-config.$gutter * -1;
  }

  @include layout-sidebars.on-sidebar-beside-content(any) {
    // On wider screens the horizontal padding matches the vertical padding.
    padding-left:   layout-config.$gap;
    padding-right:  layout-config.$gap;
  }

  .region + .region {
    margin-top: layout-config.$gap;
  }
}

.region-content {
  // Add space between blocks using the layout-config.$gap variable.
  .block + .block,
  [data-drupal-messages] + .block {
    margin-top: layout-config.$gap;
  }
}
