// -----------------------------------------------------------------------------
//   Site layout - Grid
// -----------------------------------------------------------------------------

@use '../variables/layout' as layout-variables; // Configure layout.
@use 'base:layout/config' as layout-config;
@use 'base:layout/container' as layout-container;
@use 'base:layout/grid' as layout-grid;
@use 'base:layout/sidebars' as layout-sidebars;
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/layout';
@use 'sass:math';

///
/// The Omnipedia grid definition in compact layout (narrow screens).
///
@mixin grid-compact {
  grid-template-areas:
    'branding       menu-primary'
    'main-content   main-content'
    'sidebar-first  sidebar-first'
    'sidebar-second sidebar-second'
    'footer         footer';

  grid-template-rows:
    minmax(
      layout-variables.$branding-compact-size-min,
      layout-variables.$branding-compact-size-max
    )
    1fr
    min-content
    min-content
    min-content;

  grid-template-columns: minmax(10em, 1fr) 2fr;

  grid-row-gap:    layout-config.$gutter;
  // This adds a bigger gap between the site branding and header items to ensure
  // they read as separate elements.
  grid-column-gap: layout-variables.$header-distinct-gap;
}

///
/// The Omnipedia grid definition on wider screens.
///
@mixin grid-wide {
  grid-template-areas:
    'branding       menu-primary  ....'
    'branding       main-content  sidebar-second'
    'sidebar-first  main-content  sidebar-second'
    '....           footer        ....';

  grid-template-rows:
    layout-variables.$header-row-height
    min-content
    1fr
    min-content;
}

// Common stuff regardless of whether subgrid is supported.
.layout-container {
  @include breakpoint.on('<layout-with-both-sidebars') {
    margin-top: layout-config.$gutter;
  }

  @include layout-sidebars.on-sidebar-beside-content(any) {
    // On wider screens, the horizontal padding on either side of the layout
    // matches the layout gap between columns.
    padding-left:   layout-config.$gap;
    padding-right:  layout-config.$gap;
  }

  header[role='banner'] {
    grid-area: branding;
  }

  .region-primary-menu {
    @include breakpoint.on('<layout-with-both-sidebars') {
      &,
      .block,
      .omnipedia-header {
        grid-column-start:  branding;
        grid-column-end:    menu-primary;
        grid-row:           branding;
      }
    }

    // Required to override ambientimpact_base/stylesheets/layout/_output.scss
    // when that applies its wider screen layout grid.
    @include layout-sidebars.on-sidebar-beside-content(both) {
      grid-area: menu-primary;
    }
  }

  footer[role='contentinfo'] {
    grid-area: footer;
  }
}

// If subgrid is supported, use it to lay out the site layout, allowing the grid
// to be inherited into the main content area.
//
// @todo Add support for other regions, such as highlighted and help. These are
//   currently not accounted for due to the difficulty of correctly placing all
//   regions while also maintaining the branding and sidebar locations.
//
// @link https://gridbyexample.com/examples/
// @link https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid
@supports (grid-template-columns: subgrid) {
  // Matches specificity in ambientimpact_base and not any higher.
  .layout-container > * {
    grid-column-start:  main-content;
    grid-column-end:    main-content;
  }
  @include layout.use-grid {
    .layout-container {
      display: grid;

      @include grid-compact;
    }

    main[role='main'] {
      display: grid;

      grid-template-rows: subgrid;
      grid-row-start:     main-content;
      grid-row-end:       sidebar-second;

      grid-template-columns: subgrid;
    }

    .region-primary-menu {
      @include breakpoint.on('<layout-with-both-sidebars') {
        &,
        .block,
        .omnipedia-header,
        .omnipedia-header__search-form {
          display: grid;

          grid-template-rows:     subgrid;
        }
        &,
        .block,
        .omnipedia-header__search-form {
          grid-template-columns:  subgrid;
        }
      }
    }

    @include layout-sidebars.on-sidebar-beside-content(both) {
      .layout-container {
        @include grid-wide;
      }

      main[role='main'] {
        grid-row-start: main-content;
        grid-row-end:   main-content;
      }

      // Not working stuff follows:

      // .layout-container {
      //   grid-template-areas:
      //     '....           menu-primary  ....'
      //     'branding       main-content  sidebar-second'
      //     'branding       main-content  sidebar-second'
      //     'branding       main-content  sidebar-second'
      //     'sidebar-first  main-content  sidebar-second'
      //     'footer         footer        footer';
      //   grid-template-rows: repeat(6, min-content);
      // }

      // header[role='banner'] {
      //   grid-area: branding;
      // }

      // .region-highlighted {
      //   grid-column-start:  main-content;
      //   grid-column-end:    main-content;
      //   grid-row-start:     main-content;
      // }

      // main[role='main'] {
      //   grid-template-rows: subgrid;
      //   grid-row-start:     main-content;
      //   grid-row-end:       main-content;

      //   .layout-content {
      //     grid-column-start:  main-content;
      //     grid-column-end:    main-content;
      //     grid-row-end:       main-content;
      //   }
      // }

      // /Not working ends.
    }
  }
}

// If subgrid is not supported, this approximates the subgrid layout by nesting
// two grids, one on .layout-container, and the pre-existing one on
// main[role='main'].
@supports not (grid-template-columns: subgrid) {
  .layout-container {
    // These have to be placed outside of the @include layout.use-grid because they
    // also use the mixin and double nesting would cause two nested
    // body.use-grid selectors which would never match.
    @include layout-grid.grid;
    @include layout-container.max-width;
  }

  // This must span the full width of the parent's grid and the full rows of the
  // main-content column.
  main[role='main'] {
    grid-column-start:  sidebar-first;
    grid-column-end:    sidebar-second;
    grid-row-start:     main-content;
    grid-row-end:       main-content;
  }

  @include layout.use-grid {
    .layout-container {
      display: grid;

      @include grid-compact;

      @include layout-sidebars.on-sidebar-beside-content(both) {
        @include grid-wide;
      }

      margin-left:  auto;
      margin-right: auto;

      > * {
        // Remove margins added in
        // ambientimpact_base/stylesheets/layout/_output.scss so that they don't
        // squish the columns.
        //
        // @todo Is this still needed?
        margin-left:  0;
        margin-right: 0;
      }
    }

    .region-primary-menu {
      @include breakpoint.on('<layout-with-both-sidebars') {
        &,
        .block {
          display: grid;

          @include grid-compact;

          grid-row-gap: 0;
        }
      }
    }

    .layout-sidebar-first {
      @include layout-sidebars.on-sidebar-beside-content(both) {
        // @todo Why doesn't 'first' parameter work here?
        &::before {
          content: '';
          display: block;

          // This creates an intrinsic ratio with the heights of the site logo,
          // name, and slogan, all divided by the width of the column.
          padding-top: math.div(128 + 20 + 13, 128) * 100%;

          // Don't forget the spacing between elements!
          margin-bottom:
            layout-variables.$branding-spacing * 2 + layout-config.$gap;
        }
      }
    }
  }
}
