// -----------------------------------------------------------------------------
//   Omnipedia founder message (join variant) partial
// -----------------------------------------------------------------------------

@use '../../layout/config' as layout-config; // Configure layout.
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use '../../typography/config' as typography-variables; // Configure typography.
@use 'base:typography/config' as typography-config;
@use '_base' as founder-message;
@use 'immerse';
@use 'link/link.state' as link-state;
@use 'material.common/material.general' as material-general;
@use 'material.ripple' as material-ripple;
@use 'overlay';
@use 'sass:color';
@use 'sass:list';
@use 'sass/helpers/colour';
@use 'sass/helpers/responsive';
@use 'sass/variables/motion';
@use '../../variables/colours';
@use '../../variables/general';

///
/// Founder message (join variant) gradient.
///
/// Note that postcss-easing-gradients doesn't understand colour stop locations,
/// i.e. specifying a percentage after the colour value. Additionally, it
/// doesn't seem to output a valid gradient if using more than one easing in a
/// single gradient, so we have to split it into two. We use background-size and
/// background-position to stick them together into a contiguous single
/// gradient.
///
/// @link https://github.com/larsenwork/postcss-easing-gradients
///   PostCSS Easing Gradients plug-in.
///
/// @link https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
///   Explanation of why we use the background colour with zero opacity instead
///   of 'transparent'.
///
@mixin gradient($colour) {

  background-image:
    // Left/fade out gradient.
    linear-gradient(
      to right,
      #{color.adjust($colour, $alpha: -1)},
      #{motion.$easing-decelerate},
      #{$colour}
    ),
    // Right/fade in gradient.
    linear-gradient(
      to right,
      #{$colour},
      #{motion.$easing-accelerate},
      #{color.adjust($colour, $alpha: -1)}
    );

}

///
/// Founder message (join variant) background wipe keyframes.
///
@keyframes founder-message-join-wipe {

  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }

}

///
/// Founder message (join variant) join link background base colour.
///
$link-background-colour-base: white;

.block-omnipedia-founder-message-join {

  @extend .block-omnipedia-founder-message;

  .omnipedia-founder-message {
    &--join::before {

      content: '';

      display: block;

      position: absolute;

      top:    0;
      bottom: 0;
      left:   0;
      right:  0;

      z-index: list.index(founder-message.$stacking-order, background);

      // This makes it wide enough that the gradient looks much smoother,
      // especially on narrow screens.
      min-width: responsive.calc-value(
        $min-screen:  30em,
        $min-value:   200em,
        $max-screen:  layout-config.$with-both-sidebars-max-width,
        $max-value:   300em
      );

      @include gradient(color.adjust(
        colours.$omnipedia-blue, $lightness: +40%, $saturation: +40%
      ));

      @include colour.on-dark-scheme {
        @include gradient(colours.$omnipedia-blue);
      }

      background-repeat:    no-repeat;
      background-position:  left, right;
      background-size:      50%, 50%;

      animation-name:             founder-message-join-wipe;
      animation-duration:         5000ms;
      animation-timing-function:  linear;
      animation-iteration-count:  infinite;
      animation-delay:            2000ms;
      animation-fill-mode:        backwards;

      @include immerse.on-immerse {
        animation-play-state: paused;
      }
      @include overlay.on-overlay-active {
        animation-play-state: paused;
      }

      // Don't animate if the user indicates they prefer reduced motion.
      //
      // @see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
      @media (prefers-reduced-motion: reduce) {
        display: none;

        animation: none;
      }

      opacity: 0.4;

    }

    &__join {

      position: relative;

      z-index: list.index(founder-message.$stacking-order, content);

    }

    &__join-link {

      display: block;

      border:         2px solid currentColor;
      border-radius:  material-general.$border-radius;

      padding: 0.6em 0.4em;

      background-color: color.change(
        $link-background-colour-base,
        $alpha: 0.4
      );

      @include link-state.highlight {

        background-color: color.change(
          $link-background-colour-base,
          $alpha: 0.8
        );

      }

      @include colour.on-dark-scheme {

        background-color: color.change(
          $link-background-colour-base,
          $alpha: 0.1
        );

        @include link-state.highlight {

          background-color: color.change(
            $link-background-colour-base,
            $alpha: 0.25
          );

        }

      }

      font-size:    120%;
      font-weight:  typography-config.$font-weight-strong;

      text-align:     center;
      text-transform: uppercase;

      @include material-ripple.material-ripple;

      --shadow-colour: hsla(0, 0, 0, 0.3);

      box-shadow: 0 2px 4px var(--shadow-colour);

      @include colour.on-dark-scheme {
        --shadow-colour: hsla(0, 0, 0, 0.4);
      }

      @if (general.$use-backdrop-filter-blur == true) {
        // This gives the transparent background colour a frosted glass
        // appearance.
        backdrop-filter: blur(2px);
      }

    }

  }

  @include vertical-spacing.against-previous(
    '.omnipedia-founder-message__join',
    $spacing-small: 2em,
    $spacing-large: 2em
  );

}
