// -----------------------------------------------------------------------------
//   Fieldset partial
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-config; // Configure layout.
@use 'base:layout/sidebars' as layout-sidebars;
@use 'base:layout/vertical_spacing' as vertical-spacing;
@use 'base:global/content';
@use '../components/card';
@use 'sass:math';

fieldset:not(.form-composite) {
  margin: 0;

  @include card.base;

  // On wider screens the horizontal and bottom padding matches the layout gap.
  @include layout-sidebars.on-sidebar-beside-content(any) {
    padding-left:   layout-config.$gap;
    padding-right:  layout-config.$gap;
    padding-bottom: layout-config.$gap;
  }
}

fieldset.form-composite {
  margin: 0;

  @at-root {
    @include vertical-spacing.against-previous(
      &,
      $spacing-small: content.$item-vertical-spacing-small,
      $spacing-large: content.$item-vertical-spacing-large
    );
  }

  > legend + .fieldset-wrapper {
    @include vertical-spacing.vertical-spacing(
      $spacing-small: math.div(content.$item-vertical-spacing-small, 2),
      $spacing-large: math.div(content.$item-vertical-spacing-small, 2)
    );
  }
}
