// -----------------------------------------------------------------------------
//   Link element partial
// -----------------------------------------------------------------------------

@use 'link/link';
@use 'link/link.colour' as link-colour;
// @use 'link/link.state' as link-state;
@use 'sass/helpers/colour';
@use '../variables/typography' as typography-variables;

:any-link,
a[data-is-wikimedia-link][data-omnipedia-attached-data-title][data-omnipedia-attached-data-content]:not([href]) {

  text-underline-offset: typography-variables.$text-decoration-offset;

  &.omnipedia-changes__diff-link {
    @include colour.on-dark-scheme {
      @include link-colour.set(
        colour.$background-dark,

        $normal-on-dark:    colour.$foreground-on-dark,
        $highlight-on-dark: colour.$foreground-on-dark,

        $underline-normal-on-dark:    rgba(colour.$foreground-on-dark, 0.6),
        $underline-highlight-on-dark: colour.$foreground-on-dark,
      );
    }
  }

  // .omnipedia-changes__diff {
  //   @include colour.on-dark-scheme {
  //     text-decoration-color: rgba(colour.$foreground-on-dark, 0.6);
  //   }
  // }

  // @include link-state.highlight {
  //   .omnipedia-changes__diff {
  //     @include colour.on-dark-scheme {
  //       text-decoration-color: colour.$foreground-on-dark;
  //     }
  //   }
  // }

  // @include link-state.active {
  //   .omnipedia-changes__diff {
  //     @include colour.on-dark-scheme {
  //       @include colour.on-dark-scheme {
  //         text-decoration-color: rgba(colour.$foreground-on-dark, 0.6);
  //       }
  //     }
  //   }
  // }
}

// This styles Wikimedia <a> elements without an href attribute that have
// attached data to appear as links, albeit with a dashed underline.
a[data-is-wikimedia-link][data-omnipedia-attached-data-title][data-omnipedia-attached-data-content]:not([href]) {
  @include link.link;

  @include colour.on-dark-scheme {
    @include link-colour.set(colour.$background-dark);
  }

  cursor: pointer;

  text-decoration-line:   underline;
  text-decoration-style:  dashed;

}
