// -----------------------------------------------------------------------------
//   EU cookie compliance pop-up content partial
// -----------------------------------------------------------------------------

@use '../../typography/config' as typography-config; // Configure typography.
@use 'base:typography/headings' as typography-headings;
@use 'base:components/form_actions' as form-actions;
@use 'base:elements/button';
@use 'base:elements/link' as link-base;
@use 'link/link';
@use 'link/link.colour' as link-colour;
@use 'sass/helpers/colour';
@use 'sass/helpers/selector';
@use '../../variables/colours';

.eu-cookie-compliance-popup {

  .eu-cookie-compliance-content {

    :any-link {
      @if link-base.$use-link-styles == true {
        @include link.link($background: colours.$omnipedia-blue);

        @include link-colour.set(
          colours.$omnipedia-blue,

          $normal-on-dark:    colour.$foreground-on-dark,
          $highlight-on-dark: colour.$foreground-on-dark,

          $underline-normal-on-dark:    rgba(colour.$foreground-on-dark, 0.6),
          $underline-highlight-on-dark: colour.$foreground-on-dark,
        );
      }

      @if link-base.$use-image-link-styles == true {
        @include link-base.image;
      }
    }

  }

  .eu-cookie-compliance-message {
    @include typography-headings.headings(2, 6) {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .eu-cookie-compliance-privacy-policy-link {
    white-space: nowrap;
  }

  .eu-cookie-compliance-categories {

    label {
      font-size: 110%;

      @include selector.root-conditions(('[dir=ltr]'), 'html') {
        padding-left: 0.2em;
      }
      @include selector.root-conditions(('[dir=rtl]'), 'html') {
        padding-right: 0.2em;
      }
    }

    input[type='checkbox'] {
      transform: scale(140%) translateY(-5%);
    }

  }

  .eu-cookie-compliance-buttons {

    @extend .form-actions;

    button {
      @extend .button;
    }

    // Only show the "Decide later" button if the current user agreement status
    // is null, i.e. they haven't agreed to anything yet.
    @include selector.root-conditions(
      (':not(.eu-cookie-compliance-status-null)'), 'body'
    ) {
      &__later {
        display: none;
      }
    }

  }

}
